<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Logado</title>
</head>
<body>
    <%- include('menu.ejs') -%>
    <h1>dashboard</h1>
    <h3>Olá <%= email %></h3>
</body>
</html>