<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Page</title>
</head>
<body>
    <%- include('menu.ejs') -%>
    <div class="container">
        <div class="content">
            <div class="title">
                <h2>SISTEMA DE LOGIN</h2>
                <div class="content">
                    <span>Descrição:</span>
                    <span>Nesse projeto, tive como foco aprender como funciona a criptografia e autenticação de usuarios utilizando Bcrypt e JWT para incluir as funcionalidades no sistema.</span>
                    
                </div>
            </div>
        </div>

    </div>
</body>
</html>